<?xml version="1.0"?>
<robot name="ambot" xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="base_footprint"/>

    <link name="laser"/>

    <joint name="laser_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="laser"/>
        <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
    </joint>

</robot>
